__pycache__/
.venv/
*.pyc
.ipynb_checkpoints/
.DS_Store
*.hdf5
yt_maps/copied_from_mo/
yt_maps/jobs/
yt_maps/TNG50_2D_maps/
CNN/checkpoints_test/
for_student/
Pytorch-UNet/
yt_quickstart/
CNN/trained_weights/*.pt
MW_sample/
CNN/plots/
